.table-header{

display:flex;

justify-content:space-between;

margin-bottom:25px;

gap:15px;

}

.table-header input{

max-width:350px;

}

.table td{

vertical-align:middle;

}

.status{

padding:6px 14px;

border-radius:50px;

font-size:13px;

font-weight:600;

}

.active-status{

background:#DCFCE7;

color:#16A34A;

}

.block-status{

background:#FEE2E2;

color:#DC2626;

}

.action-btn{

border:none;

padding:8px 14px;

margin-right:5px;

border-radius:8px;

color:white;

}

.view-btn{

background:#0A7D56;

}

.edit-btn{

background:#2563EB;

}

.delete-btn{

background:#DC2626;

}